*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

main a{
    text-decoration: none;
    color: black;
}

main a:hover{
    color: black;
}


.navbar{
    color: rgb(84, 1, 186);

}

.navbar-nav{    
    width:60vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-nav .nav-item a{
    margin-left: 30px;
    color: rgb(84, 1, 186);
    
}


.navbar-nav .nav-item a:hover{
    color: rgb(115, 0, 255);

}
.navbar-toggler{
    color: rgb(84, 1, 186);
    border: none;
}

.navbar-toggler i{
    color: rgb(84, 1, 186);
}

.navbar-brand{

    color: rgb(84, 1, 186);
    font-size: 24px;

}

.navbar-brand img{
    margin-top: 2px;
}

.social-icons{
    width: 15vw;
    margin-right: 10px;

    font-size: large;
}

.social-icons i{
    color:rgb(84, 1, 186);
    border-radius: 50%;
    padding-left: 10px;
}

.Registered-btn{
    background-color: #5401ba;
    color: white;
}
.Registered-btn:hover{
    color: rgb(84, 1, 186);
    background-color: #fff;
    border: 2px solid rgb(84, 1, 186);;
}

header hr{
    color: #5401ba;
}

.Blog-section{
    width: 100vw;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Blog-section-container{
    width: 60%;

}

.Blog-section-container div h1{
    text-align: center;
    font-size: 30px;
}

.Blog-section-container div p{
    text-align: center;
    color: grey;
    font-size: large;

}

.Blog-section-container p{
    font-size: large;
}

.Blog-section-container img{
    margin-top: 30px;
    width: 100%;
    height: 400px;
    margin-bottom: 50px;

}

.italic-content{
    display: flex;
    justify-content: start;
    align-items:center ;
}

.italic-content hr{
    height: 100px;
    width: 5px;
    background-color: black;
    font-size: large;
}


.Photos-Gallery{
    margin-top: 50px;
    margin-bottom: 100px;
}

.Photos-Gallery-containers{
    display: flex;
    justify-content: center;
    align-items: center;
    

}


.Photos-Gallery-container01 img{
    border-radius: 5px;

    width: 250px;
    height: 200px;
    margin-bottom: -25px;
}

.share-icons i{
    padding-right: 20px;
    font-size: x-large;
}

.Related-post-section{
    margin-top: 100px;
    padding-left: 50px;
    width: 100vw;
}

.Related-post-section div img{
    width: 250px;
    height: 200px;
}
.Related-post-section .card{
    max-width: 80%;
}

.card-body{
    margin-left: 20px;
}









.Subscribe-section{
    background-color: rgb(236, 236, 236);
    margin-top: 100px;
    height: 200px;
    margin-bottom: 30px;
}

.Subscribe-section-heading{
    padding: 10px 50px;
    width: 100vw;
    display: flex;
    justify-content:start;
    align-items: center;
    font-size: 30px;

}


.Subscribe-section-container{
    padding: 10px 50px;
    width: 100vw;

}

.Subscribe-section-container input{
    padding: 10px 10px;
    width: 70%;
    border-radius: 10px;
    border: 1px solid black;
}

.Subscribe-section-container button{
    padding: 10px 0px;
    width: 27%;
    border-radius: 15px;
    border: 2px solid #5401ba;
    background-color: #5401ba;
    color: #fff;
}


.Subscribe-section-container button:hover{
    border: 1.5px solid #5401ba;
    background-color: #fff;
    color: #5401ba;
    transition: all 0.5s ease-in-out;

}

.Footer-section{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 50px;

}
.Footer-section-container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;


}

.Footer-section-container p{
    width: 90%;
    text-align: center;
}

.Footer-section-container div i{
    font-size: x-large;
    margin-left: 10px;
    padding: 10px 10px;
    border: 1px solid #5401ba;
    border-radius: 50%;
    color: #5401ba;
}

.Footer-section-container div span{
    cursor: pointer;

}

.Footer-section-container div span:hover{
    color: #5401ba;
    text-decoration: double;

}



@media (max-width : 992px) {
    .navbar-nav{
        display: flex;
        align-items: start;

    }

    .navbar-nav .nav-item a{
        margin-left: 0px;
        
    }
    .Registered-btn{
        margin-top: 20px;

    }

    .Blog-section-container{

        width: 95%;
    
    }
    .italic-content hr{
        visibility: hidden;
    }
    .Photos-Gallery{
        margin-top: 50px;

    }


    .Photos-Gallery-containers{
        display: flex;
        flex-direction: column;
        
    
    }
    .Photos-Gallery-container01{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .Photos-Gallery-container01 img{
        border-radius:10px ;
       margin-bottom: 5px; 

        width: 350px;
        height: 300px;
    }
    .Subscribe-section-heading{
        padding: 0px 20px;

    }
    .Subscribe-section-container{
        margin-top: 40px;
        padding: 0px 20px;
    }

    .Related-post-section{
        margin-top: 100px;
        padding-left: 20px;
        width: 100%;
    }
    
    .Related-post-section h1{
        margin-bottom: 40px;

    }
    .Related-post-section div img{
        width: 100%;

    }
    .Related-post-section .card {
        max-width: 90%;
    }
    
    .card-body{
        margin-left: 0px;
        width: 100%;
    }
    

}