*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar{
    color: rgb(84, 1, 186);

}

.navbar-nav{    
    width:60vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-nav .nav-item a{
    margin-left: 30px;
    color: rgb(84, 1, 186);
    
}


.navbar-nav .nav-item a:hover{
    color: rgb(115, 0, 255);

}
.navbar-toggler{
    color: rgb(84, 1, 186);
    border: none;
}

.navbar-toggler i{
    color: rgb(84, 1, 186);
}

.navbar-brand{

    color: rgb(84, 1, 186);
    font-size: 24px;

}

.navbar-brand img{
    margin-top: 2px;
}

.social-icons{
    width: 13vw;

    font-size: large;
}

.social-icons i{
    color:rgb(84, 1, 186);;
    border-radius: 50%;
    padding-left: 10px;
}

@media (max-width : 992px) {
    .navbar-nav{
        display: flex;
        align-items: start;

    }

    .navbar-nav .nav-item a{
        margin-left: 0px;
        
    }



    
}

